@model Biosalvus.Models.EndageredMapViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AvesEndangered</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.distinctvulnerableBirds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.distinctvulnerableBirds)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.specieskingdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.specieskingdom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speciesphylum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speciesphylum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speciesclass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speciesclass)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speciesorder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speciesorder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speciesfamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speciesfamily)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.speciesgenus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.speciesgenus)
        </dd>*@
    </dl>
</div>
<p>
</p>
