@model Biosalvus.Models.SpeciesAustralia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SpeciesAustralia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Scientific_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scientific_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Common_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Common_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Threatened_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Threatened_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kingdom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kingdom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phylum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phylum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Family)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Family)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Species)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grouping)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grouping)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Present_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Present_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
