@model IEnumerable<Biosalvus.Models.FireData>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.brightness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.track)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acq_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acq_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.satellite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instrument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.confidence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bright_t31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.daynight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.full_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.brightness)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.track)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acq_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.acq_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.satellite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instrument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.confidence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bright_t31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daynight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.full_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
